<img src="{{current.avatar}}" class="w-100 rounded-circle mb-3" style="width:60px!important" />

<p>
  Username: <a href="/profile/{{current.id}}">{{current.username}}</a>
</p>

<form action="/logout" method="post">
  <button type="submit" class="btn btn-outline-danger btn-sm">Logout</button>
</form>